.app {
  text-align: center;
  display: flex;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-area {
  flex: 3;
  background-color: #f0f0f0;
}

.score-area {
  flex: 1;
  background-color: #d0d0d0;
}
